.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--clr5); */
  color: var(--secondary-clr1);
 padding: var(--mainPadding);

  box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
}
.menu-btn{
  color: var(--clr4);
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}

.nav-container {
  position: relative;
}


@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

nav {
  /* display: none; */
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  width: 100px;
  height: 100px;
  top: 100%;
  left: 20%;
  /* transform: translate(150%); */
  border-radius: 10px;
  padding: 10px;
  gap: 10px;


  place-content: center;
  text-align: center;


  background-color: var(--clr1);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.logo{
  margin-inline-end: 5rem;
  scale: 2;
}


