.main-actions{
    display: flex;
    justify-content: space-evenly;
}
.actions{
    background-color: var(--clr6);
}
.action-btn{
    border-radius: 50%;
    padding: .15em;
    background-color: transparent;
    border: none;
}
.action-btn:hover{
    background-color: var(--clr7);
}