.add-note{
    align-self: center;
   min-width: 500px;
   max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    border-radius:8px ;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;


}
.note-img-add input{
    border: none;
    outline: 0;
}
.note-img-add form{
    border-radius:0 ;
    box-shadow: none;
  
}
.note-txt-add{
display: flex;
flex-direction: column;
}


.save-btn{
    align-self: end;
}
