.mail-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    /* color: #202124; */
    /* background: #cadcf4; */
    height: 50px;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
}

.mail-preview {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;


    gap: 1vw;
    width: 80vw;

}

.mail-preview>* {
    min-width: 12.5rem;
    /* min-width: 9rem; */
}

.checkbox {
    width: auto;
}

.mail-row:hover {
    cursor: pointer;
    background: #fcfdff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.date {
    text-align: end;
    width: 10px;
}

.preview-icons {
    position: absolute;
    right: 2vw;
    text-align: start;
    display: flex;
    gap: 10px;
    opacity: 0;
}

.mail-row:hover .preview-icons {
    opacity: 1;
}

.mail-row:hover .date {
    opacity: 0;
}

.preview-icons>* {
    /* display: none; */

}

.preview-icons>*:hover {
    display: block;
    cursor: pointer;
}




.read {
    /* background: #7c7f8428;  */
    font-weight: 400;
}

.unread {
    /* background: #cfddee; */
    font-weight: 600;

}

.stared {
    font-weight: 700;
    color: rgb(245, 224, 0);
}


.body-prev {
    width: 10vw;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 13px;
}


@media(max-width: 720px) {
    .mail-row {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        height: 70px;
    }

    .mail-preview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: start;
        height: fit-content;
        /* min-width: 80vw; */
    }

    .mail-preview>* {
        width: auto;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .from {
        grid-row: 2;
        white-space: normal;
        overflow-x: visible;
        width: fit-content;
        font-size: small;
    }

    .body-prev {
        display: none;
    }

    .date {
        grid-row: 1;
        grid-column: 2;
        text-align: start;
    }

    .preview-icons {
        opacity: 1;
        display: flex;
        grid-column: 2;
        grid-row: 2;
        bottom: 0;
    }

    .mail-row:hover .preview-icons {
        display: flex;
        grid-row: 1/-1;
        justify-self: end;
    }
    .mail-row:hover .date {
        opacity: 1;
    }
}

/* 
   


*/