.mail-new-draft {
    position: absolute;
    width: 500px;
    bottom: 0;
    background-color: white;
    border-radius: 15px;
    border: solid black 1px;
    z-index: 999;
}

.mail-form {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.mail-form>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 0.8rem;


    gap: 10px;
}

.mail-form>* div {
    display: grid;
    width: 70px;
}

.form-header {
    margin-inline: 0.8rem;
    display: flex;
    justify-content: space-between;
    background-color: #f1eeee;
    height: 20px;
    text-align: center;
    font: inherit;
    font-size: 20px;
    border-radius: 15px;

}

.form-header-actions {
    display: flex;
    justify-content: space-between;
    min-width: 60px;
}

.form-header-btn {
    background: none;
    border: none;
    color: inherit;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    font-size: 1rem;
}

.mail-form>* input {
    width: 100%;
    height: 30px;
    border: none;
}

.body-text-area {
    height: 300px;
    /* border: solid rgb(122, 118, 118) 1px; */
    padding: 10px;
    width: 100%;

}

.form-header-btn:hover {
    box-shadow: 0 2px 1px 1px rgba(64, 60, 67, .16);
}



.mail-form button {
    background: none;
    border: none;
}

.mail-form-actions-bar>* {
    color: var(--clr4);
}

.send {
    background-color: rgb(52, 94, 232);
    border-radius: 50px;
    height: 30px;
}

.btn-send {
    color: var(--clr1);
}

.btn-send:hover {
    scale: 1.1;
}

@media(max-width: 720px) {
    .mail-new-draft {
        position: absolute;
        width: 100vw;
        height: 90vh;
        left: 0;
    }

    .body-text-area {
        height: 55vh;
    }

}